{% extends 'courses/base.html' %}
{% load course_custom_tags %}
{% load static %}

{% block title %}
Django
{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'courses/css/scrollbar.css' %}">
<link rel="stylesheet" href="{% static 'courses/css/common.css' %}">
{% endblock css %}


{% block js %}
<!-- (w*9)/10 -->
<script src={% static 'courses/js/course_page.js' %}></script>
{% endblock js %}

{% block content %}

<style>
    a:hover{
        text-decoration: none;
    }

    a{
        color: rgb(153, 153, 153);
    }

    .active-color-link{
        color: rgb(206, 202, 196);
    }
    
    .active-color-link:hover{
        text-decoration: none;
        color: rgb(255, 255, 255);
    }


</style>

<div class="container-fluid">

    <div>
        <br>
        <div class="card p-3">
            <div class="row">
                <!-- YOUTUBE PLAYER -->
                <div class="col-9">
                    <div class="mx-auto">
                        <iframe id="player" class="mx-auto" width="100%" height="315"
                            src="https://www.youtube.com/embed/{{video.video_id}}" title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                </div>

                <!-- LECTURE LIST  -->
                <div class="col-3">
                    <ul id="video_list" class="list-group overflow-y-scroll">
                        {% for v in videos %}
                        <li 
                        class="list-group-item {% if v == video %} active-video {% endif %}">
                        <a class="{% if v == video %} active-video-link {% endif %}" href="?lecture={{v.serial_no}}">
                        {{v}}
                        </a>
                        </li>
                        {% endfor %}
                    </ul>


                </div>
            </div>
        </div>

        <!-- course details -->
        <div class="mt-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{course.name}}</h5>
                    <p class="card-text">{{course.description}}</p>
                </div>
            </div>
        </div>

        <!-- PREREQUISITES -->
        <div class="mt-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Prerequisites</h5>
                    <p class="card-text">
                    <ol>
                        {% for pre in course.prerequisite_set.all %}
                        <li class="">{{pre.description}}</li>
                        {% endfor %}
                    </ol>
                    </p>
                </div>
            </div>
        </div>


        <!-- LEARNINGS -->
        <div class="mt-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Prerequisites</h5>
                    <p class="card-text">
                    <ol>
                        {% for l in course.learning_set.all %}
                        <li class="">{{l.description}}</li>
                        {% endfor %}
                    </ol>
                    </p>
                </div>
            </div>
        </div>

        <br><br>

    </div>



    {% endblock content %}