{% extends 'courses/base.html' %}
{% load course_custom_tags %}

{% block title %}Django{% endblock title %}

{% block content %}

<style>
    .price {
        font-size: 20px;
    }
</style>

<div class="container-fluid">
    <p class="">Selected Course = {{course.name}}</p> 
    <p class="">Selected Course = {{course.price}}</p> 
    <p class="">Selected Course = {{course.discount}}</p> 
    <p class="">Selected Course = {{course.description}}</p> 
    <p class="">Selected Course = {{course.video_set.all}}</p> 
    <p class="">Selected Course = {{course.tag_set.all}}</p> 
    <p class="">Selected Course = {{course.prerequisite_set.all}}</p> 
    <p class="">Selected Course = {{course.learning_set.all}}</p> 

</div>

{% endblock content %}